@page "/"

<h1>Hi there!</h1>
<p>Nice to see you in this game. Hope you have a good experience with this. Thanks you!</p>
<p>You can find me on <a href="https://www.facebook.com/VanHoai.308/">Facebook</a>, <a href="https://github.com/hoaitran308">Github</a> or <a href="https://notech.team/">My Blog</a>.</p>