@page "/playing"
@using PickaChoose.Data

<h3>PickaChoose</h3>

@for (int i = 0; i < Height; i++)
{
    for (int j = 0; j < Width; j++)
    {
        int x = i;
        int y = j;
        if (IsInMap(x, y))
        {
            <img @onclick="() => PickThePokemon(x, y)" class="@(IsThePokemonPicked(x, y) ? "pokemon picked" : "pokemon")" src="pokemon/@(pokemon[i, j]).png">
        }
        else
        {
            <img src="pokemon/0.png">
        }
    }
    <br />
}

@code {
}
