@page "/playing"
@using PickaChoose.Data

<h3>PickaChoose</h3>
<p>
    <button class="btn btn-light">
        <span style="font-weight: bold; color: @(countdownTime < 60 ? "red" : "green")">
            @(TimeSpan.FromSeconds(@countdownTime).ToString(@"mm\:ss"))
        </span>
    </button>
    <button class="btn btn-danger" @onclick="ResetGame">Reset</button>
    <button class="btn btn-warning" @onclick="SwapPokemon">Swap</button>
    <button class="btn btn-success" @onclick="OrderHintPokemon">Hint</button>
</p>

@for (int i = 1; i <= MaxHeight; i++)
{
    for (int j = 1; j <= MaxWidth; j++)
    {
        int x = i;
        int y = j;
        <img src="pokemon/@(pokemon[i, j]).png"
             class="pokemon @(IsThePokemonPicked(x, y) ? "picked" : (isShowHint && (hintPokemon.Key.IsEqual(x, y) || hintPokemon.Value.IsEqual(x, y)) ? "hint" : ""))"
             @onclick="() => PickThePokemon(x, y)">
    }
    <br />
}

@code {
}
